.dashboardContainer {
    width: 100%;
    height: 100%;
    xposition: relative;
    xdisplay: flex;
    xxx-align-items: flex-start;
}

.mapContainer {
    height: 100vh;
    width: 100%;
    position: relative;
}

.controls {
    position: absolute;

    top: 10px;
    left: 10px;
}

.scrollableMenu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.searchForm {
  margin: 8px;
}

.borderedItem {
  border-color: lightgray;
  border-width: 1px 0px 0px 0px;
  border-style: solid
}

.controlsLabel {
  display: inline-block;
  width: 65px;
  text-align: right;
  padding-right: 8px;
  font-size: smaller;
}

.navbarControl {
  padding-top: 8px;
  padding-bottom: 8px;
}

.chartHeader {
  padding-top: 8px;
  padding-bottom: 8px;
}

.detailContainer {
    width: 100%;
    margin: 10px;
}

.starredContainer {
    overflow: auto;
}

.starredContainer table {
    border: 1px solid black;
    border-collapse: collapse;
}

.starredContainer th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 2px;
}
.starredContainer td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
    padding: 2px;
}

.scatterContainer {
    width: 100%;
    height: 100%;
}

.effortContainer {
    overflow-y: auto;
    height: 232px;
}

.effortContainer table {
    border-collapse: collapse;
    width: 100%;
}

.effortContainer thead th {
    position: sticky;
    top: 0;
}

.effortContainer th {
    text-align: left;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background: #eee;
}

.effortContainer td {
    text-align: right;
    padding: 4px 8px;
    border: 1px solid #ccc;
}
